<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - websitedienlanh</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/websitedienlanh.styles.css" asp-append-version="true" />
    <link href="~/dashboard.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.2/b-2.3.4/fc-4.2.1/sc-2.1.0/sb-1.4.0/sp-2.1.1/sl-1.6.0/datatables.min.css" />
</head>
<body>
    <partial name="_PartialHeader" />

    <div class="container-fluid">
        <partial name="_PartialSideBar" />

        <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/dashboard.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.2/b-2.3.4/fc-4.2.1/sc-2.1.0/sb-1.4.0/sp-2.1.1/sl-1.6.0/datatables.min.js"></script>
    <script src="https://kit.fontawesome.com/819401a432.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
