<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin">
                    <span data-feather="home" class="align-text-bottom"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Banners" asp-action="Index">
                    <span data-feather="layers" class="align-text-bottom"></span>
                    Banner
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="LoaiDanhMucs" asp-action="Index">
                    <span data-feather="file" class="align-text-bottom"></span>
                    Loại danh mục
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="ThuongHieus" asp-action="Index">
                    <span data-feather="shopping-cart" class="align-text-bottom"></span>
                    Thương hiệu
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="SanPhams" asp-action="Index">
                    <span data-feather="users" class="align-text-bottom"></span>
                    Sản phẩm
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="DonDatHangs" asp-action="Index">
                    <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                    Đơn đặt hàng
                </a>
            </li>
            @if(Context.Session.GetInt32("_QuyenID") == 1)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="QuyenHans" asp-action="Index">
                        <span data-feather="layers" class="align-text-bottom"></span>
                        Quyền hạn
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="TaiKhoans" asp-action="Index">
                        <span data-feather="layers" class="align-text-bottom"></span>
                        Tài khoản
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>