@model IEnumerable<websitedienlanh.Models.SanPham>

@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleControls" class="container carousel slide pb-3" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/banners/slider_2.webp" class="d-block w-100" height="500" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="album py-5">
    <div class="container">
        <h3 class="text-center text-uppercase mb-3">
            Sản phẩm đặc trưng
        </h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <img src="~/images/products/@item.HinhAnh" class="w-100" height="200" />
                            <p class="card-text fw-bold fs-5 mb-0">
                                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.SanPhamID">
                                    @item.Ten
                                </a>
                            </p>
                            <h5 class="text-danger">
                                @Html.DisplayFor(modelItem => item.DonGia)
                            </h5>
                            <div class="row">
                                <div class="col">
                                    <a asp-controller="Home" asp-action="AddToCart" asp-route-id="@item.SanPhamID" role="button" class="w-100 btn btn-sm btn-outline-danger">
                                        <i class="fa-solid fa-cart-shopping"></i> Thêm vào giỏ
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>