<div class="row my-5">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="border mt-5 p-5 shadow-lg rounded position-relative">
            <div class="position-absolute top-0 start-50 translate-middle">
                <i class="fa-solid fa-face-smile fs-1 text-muted"></i>
            </div>
            <div class="text-center text-uppercase fs-5 fw-bold">
                <p>ĐẶT HÀNG THÀNH CÔNG</p>
                <p>Vui lòng quay lại trang chủ</p>
            </div>
            <div class="position-absolute top-100 start-50 translate-middle">
                <a class="btn btn-danger" href="/">Về trang chủ</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>