@model websitedienlanh.Models.LoaiDanhMuc

@{
    ViewData["Title"] = "Details";
    var dm = ViewBag.dm as IQueryable<websitedienlanh.Models.DanhMuc>;
}

<h1>Details</h1>
<a asp-controller="DanhMucs" asp-action="Create">Create New</a>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Danh mục của @Model.Ten</h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Danh mục</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in dm)
                {
                    if (item.LoaiDanhMucID == Model.LoaiDanhMucID)
                    {
                        <tr>
                            <td>
                                @item.TenDanhMuc
                            </td>
                            <td>
                                <a asp-controller="LoaiDanhMucs" asp-action="DeleteDM" asp-route-id="@item.DanhMucID">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
