<div style="background-color: #F8F9FA;">
    <div class="container">
        <footer class="mt-3 py-5">
            <div class="row text-center">
                <aside class="col-md col-6">
                    <ul class="list-unstyled">
                        <li> <a class="text-muted text-decoration-none" href="#">Chính sách bảo hành</a></li>
                        <li> <a class="text-muted text-decoration-none" href="#">Chính sách đổi trả</a></li>
                        <li> <a class="text-muted text-decoration-none" href="#">Chính sách giao hàng</a></li>
                        <li> <a class="text-muted text-decoration-none" href="#">Phương thưc thanh toán</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <ul class="list-unstyled">
                        <li> <a class="text-muted text-decoration-none" href="#">Quy chế hoạt động website</a></li>
                        <li> <a class="text-muted text-decoration-none" href="#">Siêu thị gần nhất (405 shop)</a></li>
                        <li> <a class="text-muted text-decoration-none" href="#">Tìm trung tâm bảo hành</a></li>
                        <li> <a class="text-muted text-decoration-none" href="#">Tra cứu hóa đơn</a></li>
                        <li> <a class="text-muted text-decoration-none" href="#">Tuyển dụng</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <ul class="list-unstyled">
                        <li> <a class="text-muted text-decoration-none" href="#">Tư vấn bán hàng (8h - 22h)</a></li>
                        <li> <a class="text-muted text-decoration-none" href="#">CSKH & bảo hành (8h - 22h)</a></li>
                        <li> <a class="text-muted text-decoration-none" href="#">Tư vấn bán hàng Doanh nghiệp</a></li>
                        <li> <a class="text-muted text-decoration-none" href="#">Khảo sát mua hàng tại Viettel Store</a></li>
                        <li> <a class="text-muted text-decoration-none" href="#">Tra cứu ưu đãi của bạn</a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <ul class="list-unstyled">
                        <li><a class="text-muted text-decoration-none" href="https://www.facebook.com/ViettelstoreOnline"> <i class="fab fa-facebook"></i> Facebook </a></li>
                        <li><a class="text-muted text-decoration-none" href="https://twitter.com/ViettelStore"> <i class="fab fa-twitter"></i> Twitter </a></li>
                        <li><a class="text-muted text-decoration-none" href="https://www.instagram.com/viettelstore.vn/"> <i class="fab fa-instagram"></i> Instagram </a></li>
                        <li><a class="text-muted text-decoration-none" href="https://www.youtube.com/channel/UCeryHI4qZWY8V6qmeIRa1rQ"> <i class="fab fa-youtube"></i> Youtube </a></li>
                    </ul>
                </aside>
            </div>

            <div class="py-4 my-4 border-top text-center">
                <p class="text-dark">Công ty CP Công trình Viettel</p>
                <p class="text-dark">Địa chỉ: 269B, Nguyễn Thái Học, Phường Mỹ Hoà, Thành Phố Long Xuyên, Tỉnh An Giang, Việt Nam</p>
                <p class="text-dark">Điện thoại: 1900 98 98 68</p>
                <p class="text-muted"> &copy <script>document.write(new Date().getFullYear());</script> Công ty CP Công trình Viettel, All rights reserved </p>
                <br />
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter" /></svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram" /></svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook" /></svg></a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>